index:
  ul
    each #root._page.items as #item
      li
        a(href="{{pathFor('item', 'second', #item.id)}}") {{#item.name}}

  br/
  a(href="{{pathFor('main')}}") Server Route
  br/
  a(href="/server2") Server Route 2
  br/
  a(href="{{pathFor('second')}}") Second

  br/
  a(href="{{pathFor('api', 'main')}}") Second

